archive course
fastai22
fast_AI
fast_Ai-jupyter-notebook-101.ipynb
GIS_Machine_Learning_Workshop_2024_Getting_Started.ipynb
Goolge_Colab_Markdown_Guide.ipynb
README.md
.DS_Store
.DS_Store
.venv
Ex/Ex 4/mnist_train.csv
Ex/Ex 4/mnist_test.csv
